{% extends 'base.html.twig' %}

{% block title %}New Concursantes{% endblock %}

{% block body %}
    <h1>Create new Concursantes</h1>

    {{ include('concursantes/_form.html.twig') }}

    <a href="{{ path('concursantes_index') }}">back to list</a>
{% endblock %}
