<form method="post" action="{{ path('eventos_delete', {'idEvento': evento.idEvento}) }}" onsubmit="return confirm('¿Estás seguro de borrar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evento.idEvento) }}">
    <button class="btn">Delete</button>
</form>
